# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.example
.env.local
.env.staging

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python cache files and directories
__pycache__/
*.py[cod]
*__pycache__/
*.pyc


# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
lib/
lib64/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
venv/
ENV/
env/
*.venv/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# PyCharm
.idea/

# SQLAlchemy migration folder
alembic/
alembic.ini
alembic/versions/*

# SQLite database files
*.db
*.sqlite3

# pytest
.pytest_cache/

# Alembic files
/backend/alembic.ini
/backend/alembic/

# Python bytecode
__pycache__/
*.pyc

# Alembic versions and scripts
/backend/alembic/versions/
/backend/alembic/script.py.mako
/backend/alembic/env.py
/backend/alembic/README