backend/__pycache__/__init__.cpython-312.pyc
backend/__pycache__/crud.cpython-312.pyc
backend/__pycache__/database.cpython-312.pyc
backend/__pycache__/main.cpython-312.pyc
backend/__pycache__/models.cpython-312.pyc
backend/__pycache__/schemas.cpython-312.pyc
